<h1>Welcome to Floodlight!</h1>
<p>This is where we will talk about the site and provide links to the posts and the videos.  There will even be previews of your most reent content, and hopefully a twitter widget if I can get you to start tweeting.</p>
<nav>
  <%= link_to "Posts", posts_path %>
  <!--   <%= link_to "Videos", videos_path %> -->
  <%= link_to "About", user_path(1) %>
  <%= link_to "Admin", new_user_path %>
</nav>