<nav>
  <%= link_to "Posts", posts_path %>
  <!--   <%= link_to "Videos", videos_path %> -->
  <%= link_to "About", user_path(1) %>
  <%= link_to "Home", root_path %>
</nav>
<h1>This is the page that will tell people all about what lovely human beings we are, and why they should donate all their money to us.</h1>