<body>
  <header>
    <nav>
      <%= link_to "Rants", posts_path %>
      <!--   <%= link_to "Videos", videos_path %> -->
      <%= link_to "About", user_path(1), class: "navline" %>
      <%= link_to "Home", root_path, class: "navline" %>
    </nav>
  </header>
  <div class="container">
    <h1>This is the page that will tell people all about what lovely human beings we are, and why they should donate all their money to us.</h1>
  </div>
</body>