/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

html {
  background-color: white;
}

.hidden {
  display: none;
}

#delete_post {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: #444444;
  top: 0px;
  left: 0px;
  z-index: 1;
}

header nav {
  position: absolute;
  right: 5%;
  height: 100%;
  padding-left: 200px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

header nav a:hover {
  color: #9DE1FB;
}

.navline {
  border-left: 1px solid white;
}

.container {
  background-color: #F6F6F6;
  padding-top: 90px;
  padding-bottom: 30px;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  min-height: 500px;
}

.layer {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.left_column {
  width: 69%;
  display: inline-block;
  float: left;
  height: 100%;
}

.text_wrap {
  display: table;
  height: 100%;
}

.text_wrap p {
  display: table-cell;
  vertical-align: middle;
}

.left_column_sml {
  width: 29%;
  display: inline-block;
  float: left;
  height: 100%;
}

#posts_right_column p {
  font-size: 0.8em;
}

.right_column {
  width: 29%;
  display: inline-block;
  float: right;
}

.right_column_lrg {
  width: 69%;
  display: inline-block;
  float: right;
  height: 100%;
}

#posts_right_column {
  padding-left: 10px;
  border-left: 1px solid black;
  margin-top: 30px;
}

.banner {
  width: 100%;
  padding-bottom: 20px;
}

#about_banner {
  border-bottom: 1px solid black;
}

#landing_header {
  text-align: center;
  margin: auto;
  border-top: 1px solid black;
  padding-top: 20px;
}

#rant_header {
  margin-bottom: 10px;
  margin-top: 0px;
}

#rant_sub {
  margin-top: 0px;
  margin-bottom: 0px;
}

.post {
  padding-top: 15px;
  display: block;
  width: 90%;
  margin: auto;
}

.post_main {
  padding-top: 15px;
  display: block;
  width: 60%;
  margin: auto;
}

.post_title {
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.post_title:hover {
  color: #0000CC;
}

.post_top {
  width: 100%;
  display: block;
}

.sub_post {
  font-size: 0.9em;
  display: inline-block;
  padding-top: 10px;
  border-top: 1px solid black;
}

.post_date {
  font-size: 0.7em;
  display: inline-block;
  margin-bottom: 10px;
}

footer {
  height: 50px;
  background-color: #444444;
  border-top: 1px solid black;
  text-align: center;
}

footer a {
  line-height: 50px;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 2.5%;
}

footer a:hover {
  color: #9DE1FB;
}

footer p {
  color: white;
  display: inline-block;
  margin-left: 2.5%;
}