/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

* {
  font-family: 'Lato', sans-serif;
  color: #444444;
}

html {
  background-color: white;
}

.hidden {
  display: none;
}

#delete_post {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: #444444;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.logo_sml {
  height: 40px;
  widht: auto;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5px;
}

header nav {
  position: absolute;
  right: 5%;
  height: 100%;
  padding-left: 200px;
  display: inline-block;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

header nav a:hover {
  color: #9DE1FB;
}

.navline {
  border-left: 1px solid white;
}

#special_container {
  padding-top: 70px;
}

.container {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  min-height: 400px;
}

.line {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  display: block;
}

.line_no_space {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  display: block;
}

.space {
  margin-top: 20px;
  display: block;
}

.big_space {
  margin-top: 50px;
  display: block;
}

.about_img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.layer {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.left_column {
  width: 69%;
  display: inline-block;
  float: left;
}

.text_wrap {
  display: table;
  height: 100%;
}

.text_wrap p {
  display: table-cell;
  vertical-align: middle;
}

.left_column_sml {
  width: 29%;
  display: inline-block;
  float: left;
  height: 100%;
}

.right_column_sml {
  width: 29%;
  display: inline-block;
  float: right;
  height: 100%;
}

#posts_right_column p {
  font-size: 0.8em;
}

.right_column {
  width: 29%;
  display: inline-block;
  float: right;
}

.left_column_lrg {
  width: 69%;
  display: inline-block;
  float: left;
  height: 100%;
}

.right_column_lrg {
  width: 69%;
  display: inline-block;
  float: right;
  height: 100%;
}

#posts_right_column {
  padding-left: 10px;
  margin-top: 70px;
}

.banner {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.banner_cont {
  margin-top: 50px;
  height: 200px;
  padding-bottom: 40px;
  background-color: #9DE1FB;
}

#landing_header {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

#rant_header {
  margin-bottom: 10px;
  margin-top: 0px;
}

#rant_sub {
  margin-top: 0px;
  margin-bottom: 0px;
}

.post {
  padding-top: 15px;
  display: block;
  width: 90%;
  margin: auto;
}

.post_main {
  padding-top: 15px;
  display: block;
  width: 100%;
  margin: auto;
}

.post_title {
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.post_title:hover {
  color: #0000CC;
}

.post_top {
  width: 100%;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.sub_post {
  font-size: 0.9em;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
}

.post_date {
  font-size: 0.7em;
  display: inline-block;
}

.post_show_header {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.75em;
}

.post_show_date {
  display: inline-block;
}

.post_show_text {
  width: 85%;
  max-width: 700px;
  line-height: 24px;
  text-align: justify;
  margin: auto;
  margin-top: 10px;
}

.post_show_link {
  display: inline-block;
  font-size: 0.6em;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #9DE1FB;
  color: black;
  text-decoration: none;
  padding: 5px;
}

.post_show_dest {
  display: inline-block;
  font-size: 0.6em;
  margin-top: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 5px;
}

.post_show_link:hover {
  background-color: black;
  color: #9DE1FB;
}

.links {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clear {
  display: block;
}

#about_text {
  width: 80%;
  margin: auto;
}

#about_text_bottom {
  padding-top: 20px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.author {
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message {
  width: 70%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  height: 100px;
}

.message_submit {
  margin-top: 5px;
  width: 10%;
}

.message_clear {
  text-align: center;
  display: block;
}

.contact_footer {
  text-align: center;
}

footer {
  height: 50px;
  background-color: #444444;
  border-top: 1px solid black;
  text-align: center;
}

footer a {
  line-height: 50px;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 2.5%;
}

footer a:hover {
  color: #9DE1FB;
}

footer p {
  color: white;
  display: inline-block;
  margin-left: 2.5%;
}

.small_only {
  display: none;
}

@media (max-width: 800px) {

  .big_only {
    display: none;
  }

  .small_only {
    display: inline-block;
  }

  header nav {
    width: 100%;
    left: 0px;
    padding-left: 0px;
    margin-left: 3%;
  }

  header nav a {
    width: 22%;
    display: inline-block;
    font-size: 1.1em;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
  }

}

@media (max-width: 600px) {

  .banner {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .container {
    width: 90%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 5%;
  }

  .message_submit {
    margin-top: 5px;
    width: 25%;
  }

}

@media (max-width: 400px) {

  .banner_cont {
    height: 110px;
  }

  #banner_cont_XL {
    height: 130px;
  }

}